*{
   margin: auto;
   
}
.container{
    
     display: flex;
    background-color: black;
    color: white;
    border-radius: 12px;
    height: 10%;
    width: 20%;
    justify-content: center;
    text-align: center;
   
}
p{
    justify-content: center;
    text-align: center;
    margin: 19px;
    font-size: 1.5rem;

}
.reset{
    height: 19px;
    width: 48px;
    border-radius: 12px;
    margin-bottom: 12px;
    background-color: rgb(199, 219, 213);
    color: rgb(219, 130, 22);
    cursor: pointer;
}


