*{
    margin: 45px;
    padding:0px;

 
 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;

    float: inline-end;
    border-radius: 34px;
 
 background-color: aliceblue;
 border: 4px;
 height: 50vh;
 width: 70vw;

}
#hello{
margin: 16px;
padding: 15px;
border-radius: 12px;
height: 12px;
}

